@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
    url(../fonts/Roboto-Light.woff2) format('woff2'),
    url(../fonts/Roboto-Light.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
    url(../fonts/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/Roboto-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'),
    url(../fonts/Roboto-Thin.woff2) format('woff2'),
    url(../fonts/Roboto-Thin.woff) format('woff');
    font-display: swap;
}