body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.limited-section {
  width: 1200px;
  margin: 0 auto;
}

.header {
  color: #7d7d7d;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.header__date-info {
  display: inline-block;
  max-width: 200px;
}

.header__navigation-list-item {
  margin-right: 20px;
}

.header__navigation-list-item:last-child {
  margin-right: 0;
}

.navigation {
  background-color: #363636;
  color: #fff;
  padding: 0 36px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
}

.navigation__list {
  margin: 0;
}

.navigation__list-item {
  margin-right: 36px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.title {
  color: #363636;
  font-size: 90px;
  font-weight: normal;
  margin: 4px auto 24px;
  text-align: center;
}

.my-title {
  color: #363636;
  font-size: 52px;
  margin: 44px 0 24px;
}

.my-text {
  color: #363636;
  font-size: 16px;
  margin-bottom: 44px;
}

.picture-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.picture-list_display_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tiles-area {
  margin: 36px 0 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.events {
  border: 1px solid #bcbcbc;
  padding: 16px 20px;
  width: 810px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.events__continer {
  display: flex;
  flex-wrap: wrap;
}

.events__button {
  height: 72px;
  width: 244px;
  border-radius: 5px;
  background-color: #32CD32;
  color: #fff;
  border: none;
  margin: 52px auto 36px;
  display: block;
  cursor: pointer;
}

.event {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
}

.event:nth-child(2n) {
  margin-right: 0;
}

.event__image_n_1 {
  background: url(../img/Tile-Big-01.png);
}

.event__image_n_2 {
  background: url(../img/Tile-Big-02.png);
}

.event__image_n_3 {
  background: url(../img/Tile-Big-03.png);
}

.event__image_n_4 {
  background: url(../img/Tile-Big-04.png);
}

.event__image {
  height: 196px;
  background-size: cover;
  position: relative;
  width: 100%;
}

.event__label {
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px 14px 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.event__label_category_education {
  background-color: #6495ED;
}

.event__label_category_lessons {
  background-color: #3CB371;
}

.event__label_category_lectors {
  background-color: #DA70D6;
}

.event__label_category_about {
  background-color: #F4A460;
}

.event__title {
  font-weight: 400;
  font-size: 16px;
  margin: 6px 0;
}

.event__date {
  font-size: 12px;
  color: #7d7d7d;
}

.bordered-block {
  border: 1px solid #bcbcbc;
}

.bordered-block_width_810px {
  width: 810px;
}

.social {
  padding: 20px 20px;
  display: inline-block;
  margin-bottom: 48px;
}

.underlined-title {
  border-bottom: 1px solid #bcbcbc;
  box-sizing: border-box;
}

.underlined-title_place_users {
  margin: 16px 20px 48px;
}

.underlined-title__text {
  border-bottom: 3px solid #363636;
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  padding: 0 3px 8px;
  position: relative;
  text-transform: uppercase;
  top: 2px;
  width: fit-content;
  height: 23px;
}

.underlined-title__text_place_tiles {
  margin-bottom: 40px;
}

.social__links-container {
  display: flex;
  margin: 40px 0 30px;
  margin-left: 6px;
}

.social__card {
  width: calc(100% / 3);
  text-decoration: none;
}

.social__icon {
  display: block;
  margin: 0 auto 14px;
  max-width: 45px;
  width: 100%;
}

.social__link {
  margin: 0 auto;
  width: fit-content;
  color: #7d7d7d;
}

.social-column {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 350px;
}

.bordered-block_width_350px {
  width: 350px;
  box-sizing: border-box;
}

.users {
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
}

.user {
  align-items: center;
  display: flex;
  margin: 0 16px 19px;
}

.user__avatar {
  display: block;
  margin-right: 10px;
  max-width: 80px;
  width: 100%;
}

.user__title {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.user__subtitle {
  color: rgba(0, 0, 0, .6);
  font-size: 13px;
  line-height: 14px;
  margin-top: -1px;
}

.lections {
  background-color: #ececec;
  padding: 16px 20px 40px;
  margin: 40px 0 40px;
}

.lections__container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.lections__video {
  height: 200px;
  width: 284px;
  margin-right: 4px;
}

.lections__video_n_1 {
  background-image: url(../img/video-01.png);
  background-size: cover;
}

.lections__video_n_2 {
  background-image: url(../img/video-02.png);
  background-size: cover;
}

.lections__video_n_3 {
  background-image: url(../img/video-03.png);
  background-size: cover;
}

.lections__video_n_4 {
  background-image: url(../img/video-04.png);
  background-size: cover;
  margin-right: 0;
}

.news-registration {
  display: flex;
  margin-bottom: 152px;
  justify-content: space-between;
}

.news {
  box-sizing: border-box;
  max-width: 810px;
  padding: 16px 100px 56px 18px;
  display: flex;
  flex-direction: column;
}

.news__title-container {
  border-bottom: 1px solid #bcbcbc;
  box-sizing: border-box;
  margin: 0;
  width: 45%;
}

.news__title {
  border-bottom: 3px solid #363636;
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  padding: 0 3px 8px;
  position: relative;
  text-transform: uppercase;
  top: 1.9px;
  width: fit-content;
}

.news-card {
  display: flex;
  margin: 10px 0 0;
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 11px;
}

.news-card__image {
  max-width: 104px;
  height: 100%;
  margin-right: 16px;
}

.news-card__title {
  margin: 6px 0 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.news-card__text {
  color: #7d7d7d;
  font-size: 14px;
}

.news-card__date {
  color: #7d7d7d;
  margin: 10px 0 0;
  font-size: 12px;
}

.registration {
  padding: 16px 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.registration__hint {
  color: #363636;
  font-weight: 700;
  font-size: 14px;
  margin: 24px 0 20px;
  max-width: 180px;
}

.registration__input {
  width: 100%;
  height: 48px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0 12px;
  box-sizing: border-box;
}

.registration__button {
  background-color: #32CD32;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 116px;
  height: 48px;
  position: absolute;
  right: 20px;
  bottom: 24px;
  cursor: pointer;
}

.registration__button:hover {
  background-color: #00ff00;
}

.footer {
  background-color: #363636;
  color: #bcbcbc;
  margin: 36px 0 0;
  padding: 64px 0;
}

.footer__text {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1232px) {
  .limited-section {
    width: calc(100% - 20px);
    /*margin: 12px 0 0 20px;*/
    margin: 12px auto 0;
  }

  .picture-list__big-item {
    width: calc((100% - 6px) / 2);
    margin-bottom: 4px;
  }

  .picture-list__picture {
    width: 100%;
  }

  .picture-list__small-item {
    width: calc((100% - 20px) / 4);
  }

  .tiles-area {
    margin-top: 18px;
  }

  .events {
    margin-right: 24px;
    width: 67%;
    padding: 4px 12px;
  }

  .underlined-title__text_place_tiles {
    margin-bottom: 24px;
  }

  .events__continer {
    width: 100%;
  }

  .event {
    width: calc((100% - 20px) / 2);
    margin-right: 16px;
    margin-bottom: 24px;
  }

  .event__image {
    height: 0;
    padding-top: 53%;
  }

  .event__label {
    font-size: 8px;
    padding: 1px 36px 2px 8px;
  }

  .event__title {
    font-size: 10px;
    margin: 5px 0;
  }

  .event__date {
    font-size: 7px;
  } 

  .events__button {
    height: 44px;
    margin: 34px auto 28px;
    width: 150px;
    font-size: 9px;
  }

  .social-column {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .social {
    margin-bottom: 24px;
    width: 100%;
  }

  .bordered-block_width_350px {
    padding: 8px 10px;
  }

  .users {
    width: 100%;
    padding-bottom: 75px;
    height: 100%;
  }

  .user {
    margin: 0 0 12px;
  }

  .user__avatar {
    width: 40px;
    margin-right: 4px;
  }

  .user__title {
    font-size: 9px;
  }

  .user__subtitle {
    font-size: 8px;
  }

  .social-column {
    width: 29.2%;
  }

  .underlined-title__text {
    font-size: 12px;
    padding: 0px;
    height: 20px;
  }

  .bordered-block {
    padding-top: 8px;
  }

  .social__links-container {
    margin: 28px 0 20px;
  }

  .social__icon {
    max-width: 28px;
    margin-bottom: 10px;
  }

  .social__link {
    font-size: 8px;
  }

  .underlined-title_place_users {
    margin: 0 0 32px;
  }

  .underlined-title__text_place_lections {
    border-bottom: 1px solid #363636;
    width: 80px;
  }

  .lections {
    margin: 24px 0 24px;
    padding: 8px 12px 28px;
  }

  .lections__container {
    margin-top: 20px;
  }
  
  .lections__video {
    height: 120px;
    width: 174px;
  }

  .news {
    padding: 8px 60px 30px 12px;
    width: 67%;
  }

  .news__title {
    font-size: 12px;
    padding: 0 0 4px;
  }

  .news__title-container {
    margin-bottom: 6px;
  }

  .news-card {
    margin: 0 0 1px;
  }

  .news-card__image {
    max-width: 62px;
    margin-right: 8px;
  }

  .news-card__title {
    margin: 0 0 4px;
    font-size: 12px;
  }

  .news-card__text {
    font-size: 9px;
  }

  .news-card__date {
    margin: 7px 0 0;
    font-size: 8px;
  }

  .registration {
    width: 29%;
  }

  .registration__hint {
    margin: 14px 0 8px;
    font-size: 9px;
    width: 60%;
  }

  .registration__input {
    height: 30px;
    padding: 0 6px;
    font-size: 9px;
    margin-bottom: 12px;
  }

  .registration__button {
    height: 28px;
    width: 70px;
    font-size: 10px;
    bottom: 16px;
    right: 12px;
  }

  .news-registration {
    margin-bottom: 38px;
  }

  .footer {
    padding: 40px;
  }

  .footer__text {
    font-size: 9px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    margin-top: 12px;
    font-size: 8px;
  } 
  
  .navigation {
    height: 38px;
    font-size: 10px;
    padding: 0 24px;
    line-height: 38px;
  }

  .navigation__list-item {
    margin-right: 24px;
  }

  .title {
    font-size: 52px;
    margin: 0 auto 14px;
  }

  .my-title {
    margin: 24px 0 10px;
    font-size: 36px;
  }

  .my-text {
    font-size: 12px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 760px) {
  .limited-section {
    width: auto;
    margin: 0;
  }

  .header {
    margin: 10px 6px 0 18px;
    max-width: 100%;
  }

  .navigation_location_header {
    font-size: 7px;
  }

  .header__navigation-list-item {
    margin-right: 8px;
  }

  .title {
    line-height: 80px;
    margin-bottom: 0;
  }

  .navigation {
    padding: 0px 18px;
    display: block;
    overflow: scroll;
  }

  .navigation::-webkit-scrollbar {
    height: 0px;
  }

  .link {
    white-space: nowrap;
  }

  .my-title {
    margin-left: 20px;
  }

  .my-text {
    margin-left: 20px;
  }

  .picture-list {
    margin: 0 4px 0 20px;
  }

  .picture-list__big-item {
    width: 100%;
  }

  .picture-list__big-item:nth-child(2) {
    order: 1;
  }

  .picture-list__small-item:nth-child(3) {
    order: 2;
  }

  .picture-list__small-item:nth-child(4) {
    order: 3;
  }

  .picture-list__small-item {
    width: 49%;
  }

  .tiles-area {
    flex-wrap: wrap;
  }

  .social-column {
    position: static;
  }

  .events {
    width: 100%;
    margin-right: 0;
    padding-right: 6px;
    margin-bottom: 20px;
  }

  .event {
    width: 100%;
    margin-right: 0;
    
  }

  .event__image {
    height: 120px;
    padding-top: 0;
  }

  .events__button {
    margin: 0 0 24px;
  }

  .social-column {
    width: 100%;
  }

  .social {
    order: 1;
  }

  .underlined-title_place_users {
    width: 50%;
  }

  .users {
    padding-bottom: 20px;
    margin-bottom: 24px;
  }

  .user {
    margin: 0 0 26px 8px;
    align-items: center;
  }

  .user__avatar {
    width: 92px;
    max-width: none;
    margin-right: 20px;
  }

  .user__title {
    font-size: 19px;
    margin-bottom: 6px;
  }

  .user__subtitle {
    font-size: 17px;
  }

  .underlined-title {
    max-width: 50%;
  }

  .social {
    padding-right: 0;
    padding-left: 12px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  .social__links-container {
    margin: 34px 0 0 12px;
  }

  .social__icon {
    max-width: none;
    width: 52px;
    margin-bottom: 20px;
  }

  .social__link {
    font-size: 15px;
  }
  
  .lections {
    padding-right: 0;
  }

  .lections__container {
    margin-top: 22px;
    overflow: scroll;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .lections__container::-webkit-scrollbar {
    height: 0px;
  }

  .lections__video {
    flex-shrink: 0;
  }

  .news-registration {
    flex-wrap: wrap;
  }

  .registration {
    width: 312px;
    margin: 0 auto 14px;
    padding: 14px 16px 62px 16px;
    
  }

  .news {
    display: none;
  }

  .underlined-title_plase_registration {
    max-width: none;
  }

  .underlined-title__text_plase_registration {
    font-size: 17px;
    padding-bottom: 7px;
    padding-left: 2px
  }

  .registration__hint {
    font-size: 12px;
    margin: 24px 0 16px;
  }

  .registration__input {
    height: 44px;
    margin-bottom: 17px;
    padding: 0 12px;
    font-size: 13px;
  }

  .registration__button {
    width: 104px;
    height: 44px;
    right: 16px;
    font-size: 13px;
  }

  .footer {
    padding-bottom: 36px;
  }
}
